<section id="about">
  <div class="background" style="background-image: url('/img/Stars.jpg');">
    <div class="position-absolute top-50 start-50 translate-middle container">
      <h1 class="display-4 text-center">About <span class="ignition text-uppercase fw-bold">Ignition</span>!</h1>
      <p>
        <span class="ignition text-uppercase">Ignition</span> was founded by a group of young Kuwaities from various
        disciplines: Civil, Architectural, Electrical, and Computer. What brought these four together is a shared desire
        to take Kuwait to space through research, development, and education. To realize this goal, the four founders
        launched Ignition. Ignition is the Kuwaiti branch of the Mars Society, and operates as a nonprofit youth-led
        organization. The purpose of Ignition is to lay the groundwork for the first Kuwaiti space society which will
        play a key role in the Kuwaiti scientific research field. Ignition’s vision is to support the growth of society
        in terms of research, education, leadership, community engagement, and innovation.
      </p>
    </div>
  </div>
</section>