<section id="home">
  <div class="background" style="--bg: url('/img/Cave.jpg');">
    <div class="rounded position-absolute top-50 start-50 translate-middle" style="text-shadow: 0 0 20px #000;">
      <div class="container text-center">
        <h1 class="display-4">Welcome to <span class="ignition fw-bold">Ignition</span>!</h1>
        <p class="lead mt-5 animate__animated animate__slow animate__bounce animate__infinite infinite">
          <a href="/#about" class="link-light">
            <svg class="bi" width="64" height="64" fill="currentColor">
              <use xlink:href="/img/icons.svg#chevron-double-down"></use>
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>