<section id="mission">
  <div class="background" style="--bg: url('/img/Stars.jpg');">
    <div class="position-absolute top-50 start-50 translate-middle container">
      <h1 class="display-4 text-center">Core Principals</h1>
      <p>
      <div class="row align-items-start text-center">
        <div class="col">
          <div class="text-center py-5 animate__animated animate__slow animate__pulse animate__infinite infinite">
            <svg class="bi rounded-icon" width="100" height="100" fill="currentColor">
              <use xlink:href="/img/icons.svg#spacecraft"></use>
            </svg>
          </div>
          <h6 class="display-6 text-center">Mission</h6>
          <p class="fade">
            <span class="ignition">Ignition</span>’s mission is to create Kuwait’s first ever space
            exploration program and have a direct contribution to scientific development.
          </p>
        </div>
        <div class="col">
          <div class="text-center py-5 animate__animated animate__slow animate__pulse animate__infinite infinite">
            <svg class="bi rounded-icon" width="100" height="100" fill="currentColor">
              <use xlink:href="/img/icons.svg#target"></use>
            </svg>
          </div>
          <h6 class="display-6 text-center">Vision</h6>
          <p class="fade">
            <span class="ignition">Ignition</span>’s vision is to advance science and human civilization
            while spreading peace and encouraging global cooperation.
          </p>
        </div>
        <div class="col">
          <div class="text-center py-5 animate__animated animate__slow animate__pulse animate__infinite infinite">
            <svg class="bi rounded-icon" width="100" height="100" fill="currentColor">
              <use xlink:href="/img/icons.svg#handshake"></use>
            </svg>
          </div>
          <h6 class="display-6 text-center">Values</h6>
          <p class="fade">
            <span class="ignition">Ignition</span>’s vision is to instill the belief and faith in youth
            leadership, to accomplish the endeavor of Space.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <p class="fade">
          As we contribute to space projects, experiments and missions, we are creating more and more awareness around
          space. We seek to include different professional and academic backgrounds in all our endeavours, because we
          believe that the space industry is a place for all. By creating the opportunities for ourselves and future
          generations, we will increase our presence in space.
        </p>
      </div>
    </div>
  </div>
</section>