<section id="unsdg">
  <div class="background" style="--bg: url('/img/Horsehead.jpg');">
    <div class="position-absolute top-50 start-50 translate-middle container">
      <div class="text-center">
        <img class="img-fluid" src="/img/unsdg-banner-white.png" alt="UNSDG Banner" loading="lazy">
      </div>
      <p class="text-center display-6">
        <span class="ignition text-uppercase fw-bold">Ignition</span>’s contribution to the United Nations Sustainable
        Development Goals
      </p>
      <div class="row align-items-center text-center">
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-4.png" alt="UNSDG 4" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-8.png" alt="UNSDG 8" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-9.png" alt="UNSDG 9" loading="lazy"></div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-10.png" alt="UNSDG 10" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-13.png" alt="UNSDG 13" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-17.png" alt="UNSDG 17" loading="lazy"></div>
      </div>
    </div>
  </div>
</section>