<!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About Ignition</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <p>Ignition Kuwait is a local chapter of the Mars society. We inspire locals in Kuwait to pursue space technology and space exploration projects, by organizing public outreach programs to foster a deep interest in Mars and space exploration, we also promote broad international support for government-funded Mars research and exploration, and advocate the establishment of commercial space ventures, that will help in achieving space exploration in Kuwait.</p>
            </div>
        </section>
