<footer class="footer mt-auto py-3 bg-light">
  <div class="container-fluid text-dark">
    <div class="d-flex flex-wrap justify-content-center py-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link text-muted fw-bold">
            <span class="ignition">Ignition</span> ©
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/ignition.kwt/" class="nav-link link-dark">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="/img/icons.svg#instagram"></use>
            </svg>
            Instagram
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/company/ignitionkuwait" class="nav-link link-dark">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="/img/icons.svg#linkedin"></use>
            </svg>
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>