<main>
  <div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="img/logo.png" class="me-2" alt="Logo" height="48" width="48" loading="lazy">
        <span class="fs-4">Ignition Kuwait</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link link-dark">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark">Mission</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark">Team</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark">Contact</a></li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <svg class="bi me-2" width="24" height="24">
              <use xlink:href="#list"></use>
            </svg>
          </a>
        </li>
      </ul>
    </header>
  </div>
</main>