<header class="fixed-top d-flex flex-wrap justify-content-center px-2 py-3 mb-4">
  <a href="/" class="d-flex align-items-center mb-0 me-auto text-light text-decoration-none">
    <img src="/img/logo.png" class="me-2" alt="Logo" height="48" width="48" loading="lazy">
    <span class="fs-4">Ignition Kuwait</span>
  </a>
  <ul class="nav nav-pills mt-1">
    <li class="nav-item d-none d-lg-inline-flex"><a href="/about" class="nav-link link-light">About</a></li>
    <li class="nav-item d-none d-lg-inline-flex"><a href="#" class="nav-link link-light">Projects</a></li>
    <li class="nav-item d-none d-lg-inline-flex"><a href="#" class="nav-link link-light">Team</a></li>
    <li class="nav-item d-none d-lg-inline-flex"><a href="#" class="nav-link link-light">Contact</a></li>
    <li class="nav-item">
      <a id="sidebarButton" href="#" class="nav-link link-light">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="/img/icons.svg#list"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>