<header class="top-header fixed-top d-flex flex-wrap justify-content-center text-uppercase fw-bold px-2 py-3"
  style="background: rgba(0,0,0,.5);">
  <a href="/#home" class="d-flex align-items-center mb-0 me-auto text-light text-decoration-none">
    <img src="/img/logo-simple.png" class="me-2" alt="Logo" height="48" width="48" loading="lazy">
    <img src="/img/banner.png" class="me-2 mb-1" alt="Logo" height="36" loading="lazy">
    <!-- <span class="ignition fs-4">Ignition</span> -->
  </a>
  <ul class="nav nav-pills mt-1">
    <li class="nav-item d-none d-md-inline-flex"><a href="/#about" class="nav-link link-light">About</a></li>
    <li class="nav-item d-none d-md-inline-flex"><a href="/#mission" class="nav-link link-light">Mission</a></li>
    <li class="nav-item d-none d-md-inline-flex"><a href="/#contact" class="nav-link link-light">Contact</a></li>
    <li class="nav-item d-none d-md-inline-flex ms-2 me-4 rounded"><a href="https://www.ignitionkuwait.store/"
        class="nav-link link-dark ms-1">Shop</a></li>
    <!-- <li class="nav-item d-none d-lg-inline-flex"><a href="/projects" class="nav-link link-light">Projects</a></li>
    <li class="nav-item d-none d-lg-inline-flex"><a href="/team" class="nav-link link-light">Team</a></li> -->
    <li class="nav-item d-md-none d-inline-flex">
      <a id="sidebarButton" href="#" class="nav-link link-light">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="/img/icons.svg#list"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>