<section id="home">
  <div class="background" style="background-image: url('/img/Astronaut.jpg');">
    <div class="jumbotron jumbotron-fluid rounded position-absolute top-50 start-50 translate-middle"
      style="background: rgba(0,0,0,.5);">
      <div class="container text-center">
        <h1 class="display-4">Welcome to <span class="ignition text-uppercase fw-bold">Ignition</span>!</h1>
        <p class="lead">From Kuwait to infinity and beyond.</p>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="background" style="background-image: url('/img/Stars.jpg');">
    <div class="position-absolute top-50 start-50 translate-middle container">
      <h1 class="display-4 text-center">About <span class="ignition text-uppercase fw-bold">Ignition</span>!</h1>
      <p>
        <span class="ignition text-uppercase">Ignition</span> was founded by a group of young Kuwaities from various
        disciplines: Civil, Architectural, Electrical, and Computer. What brought these four together is a shared desire
        to take Kuwait to space through research, development, and education. To realize this goal, the four founders
        launched Ignition. Ignition is the Kuwaiti branch of the Mars Society, and operates as a nonprofit youth-led
        organization. The purpose of Ignition is to lay the groundwork for the first Kuwaiti space society which will
        play a key role in the Kuwaiti scientific research field. Ignition’s vision is to support the growth of society
        in terms of research, education, leadership, community engagement, and innovation.
      </p>
    </div>
  </div>
</section>
<section id="mission">
  <div class="background" style="background-image: url('/img/Stars.jpg');">
    <div class="position-absolute top-50 start-50 translate-middle container">
      <h1 class="display-4 text-center">Core Principals</h1>
      <p>
      <div class="row align-items-start text-center">
        <div class="col">
          <div class="text-center py-5">
            <svg class="bi rounded-icon" width="100" height="100" fill="currentColor">
              <use xlink:href="/img/icons.svg#spacecraft"></use>
            </svg>
          </div>
          <h6 class="display-6 text-center">Mission</h6>
          <p>
            <span class="ignition text-uppercase">Ignition</span>’s mission is to create Kuwait’s first ever space
            exploration program and have a direct contribution to scientific development.
          </p>
        </div>
        <div class="col">
          <div class="text-center py-5">
            <svg class="bi rounded-icon" width="100" height="100" fill="currentColor">
              <use xlink:href="/img/icons.svg#target"></use>
            </svg>
          </div>
          <h6 class="display-6 text-center">Vision</h6>
          <p>
            <span class="ignition text-uppercase">Ignition</span>’s vision is to advance science and human civilization
            while spreading peace and encouraging global cooperation.
          </p>
        </div>
        <div class="col">
          <div class="text-center py-5">
            <svg class="bi rounded-icon" width="100" height="100" fill="currentColor">
              <use xlink:href="/img/icons.svg#handshake"></use>
            </svg>
          </div>
          <h6 class="display-6 text-center">Values</h6>
          <p>
            <span class="ignition text-uppercase">Ignition</span>’s vision is to instill the belief and faith in youth
            leadership, to accomplish the endeavor of Space.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <p>
          As we contribute to space projects, experiments and missions, we are creating more and more awareness around
          space. We seek to include different professional and academic backgrounds in all our endeavours, because we
          believe that the space industry is a place for all. By creating the opportunities for ourselves and future
          generations, we will increase our presence in space.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="unsdg">
  <div class="background" style="background-image: url('/img/Stars.jpg');">
    <div class="position-absolute top-50 start-50 translate-middle container">
      <div class="text-center">
        <img class="img-fluid" src="/img/unsdg-banner.png" alt="UNSDG Banner" loading="lazy">
      </div>
      <p class="text-center display-6">
        <span class="ignition text-uppercase fw-bold">Ignition</span>’s contribution to the United Nations Sustainable
        Development Goals
      </p>
      <div class="row align-items-center text-center">
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-4.png" alt="UNSDG 4" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-8.png" alt="UNSDG 8" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-9.png" alt="UNSDG 9" loading="lazy"></div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-10.png" alt="UNSDG 10" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-13.png" alt="UNSDG 13" loading="lazy"></div>
        <div class="col m-2"><img class="img-fluid unsdg" src="/img/unsdg-17.png" alt="UNSDG 17" loading="lazy"></div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="background" style="background-image: url('/img/Stars.jpg');">
    <div class="position-absolute top-50 start-50 translate-middle container">
      <h1 class="display-4 text-center">Contact us</h1>
      <form class="row g-3" action="https://formsubmit.co/marssocietykuwait@gmail.com" method="POST">
        <div class="col-md-6">
          <label for="nameField" class="form-label">Name</label>
          <input type="text" id="nameField" name="name" class="form-control" placeholder="Yuri Gagarin" required>
        </div>
        <div class="col-md-6">
          <label for="emailField" class="form-label">Email</label>
          <input type="email" id="emailField" name="email" class="form-control" placeholder="cadet@space.com" required>
        </div>
        <div class="col-12">
          <label for="subjectField" class="form-label">Subject</label>
          <input type="text" id="subjectField" name="subject" class="form-control" placeholder="I ♥ Space" required>
        </div>
        <div class="col-12">
          <label for="messageField" class="form-label">Message</label>
          <textarea rows="10" id="messageField" name="message" class="form-control" placeholder="Take me to space."
            required></textarea>
        </div>
        <div class="col-12 mt-4">
          <button type="submit" class="btn btn-primary w-100">Send to Mission Control</button>
        </div>
        <input type="hidden" name="_next" value="https://ignitionkwt.org/thankyou/">
        <input type="hidden" name="_captcha" value="false">
      </form>
    </div>
  </div>
</section>