<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100 position-fixed top-0 end-0 text-end text-uppercase fw-bold"
    style="width: 280px;">
    <ul class="nav nav-pills flex-column mt-5 mb-auto">
      <li class="nav-item d-lg-none">
        <a href="/#about" class="nav-link link-light p-0">About</a>
        <hr>
      </li>
      <li class="nav-item">
        <a href="/#mission" class="nav-link link-light p-0">Mission</a>
        <hr>
      </li>
      <li class="nav-item d-lg-none">
        <a href="/#contact" class="nav-link link-light p-0">Contact</a>
        <hr>
      </li>
      <li class="nav-item">
        <a href="https://www.ignitionkuwait.store/" class="nav-link link-light p-0 py-3 text-center rounded">Shop</a>
        <hr>
      </li>
      <!-- <li class="nav-item d-lg-none">
        <a href="/projects" class="nav-link link-light p-0">Projects</a>
        <hr>
      </li>
      <li class="nav-item d-lg-none">
        <a href="/team" class="nav-link link-light p-0">Team</a>
        <hr>
      </li>
      <li class="nav-item">
        <a href="/partners" class="nav-link link-light p-0">Partners</a>
        <hr>
      </li> -->
    </ul>
  </div>
</div>