@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --main-font: 'Lato', sans-serif;
  --brand-font: 'Lato', sans-serif;
  --sidebar-width: 280px;
  --button-color: #fff;
}

::selection {
  background-color: #ffffff;
}

.ignition {
  font-family: var(--brand-font);
}

html,
body {
  background: #000;
  font-family: var(--main-font);
}

.top-header,
.sidebar {
  letter-spacing: 5px;
}

.sidebar {
  display: none;
}

.sidebar>div {
  width: var(--sidebar-width);
}

body.show-sidebar .sidebar {
  display: block;
}

body.show-sidebar a[href="/#home"]>span.fs-4 {
  display: none;
}

body.show-sidebar>*:not(.sidebar) {
  width: calc(100% - var(--sidebar-width));
}

.page-content .wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  min-height: 750px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.background {
  --bg: url(/img/Stars.jpg);
  position: absolute;
  min-height: 750px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  background-image: linear-gradient(#000, transparent, #000), var(--bg);
}

.rounded-icon {
  border-radius: 50%;
  border: 2px solid #999;
  padding: 25px;
}

.nav-item.rounded,
.nav-link.rounded {
  background: var(--button-color);
}

img.unsdg {
  max-width: 150px;
  max-height: 150px;
}

@media (max-width:767px) {
  section {
    min-height: 1250px;
  }

  .background {
    min-height: 1250px;
  }
}